<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="com.intel.isd.repo.targetdefinition.latest" sequenceNumber="66">
  <locations>
    <location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
      <!-- renovate: datasource=github-tags depName=eclipse-platform/eclipse.platform -->
      <repository location="http://download.eclipse.org/releases/4.22/"/>
      <unit id="org.eclipse.platform.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.platform.source.feature.group" version="0.0.0"/>
      <unit id="com.google.gson" version="0.0.0"/>
      <unit id="org.junit" version="0.0.0"/>
      <unit id="org.junit.source" version="0.0.0"/>
      <unit id="org.eclipse.jdt.junit5.runtime" version="0.0.0"/>
      <unit id="org.junit.jupiter.engine" version="0.0.0"/>
      <unit id="org.junit.jupiter.api" version="0.0.0"/>
      <unit id="org.junit.jupiter.params" version="0.0.0"/>
      <unit id="org.eclipse.rcp.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.jdt.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.executable.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.cdt.build.crossgcc.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.cdt.debug.gdbjtag.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.cdt.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.cdt.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.cdt.debug.ui.memory.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.cdt.launch.remote.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.gef.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.egit.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.jst.enterprise_ui.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.wst.xml_ui.feature.feature.group" version="0.0.0"/>
    </location>
    <!-- Since we always need the latest changes from TCF we use nightly TCF Eclipse build.-->
    <location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
      <repository location="https://download.eclipse.org/tools/tcf/builds/development/nightly/"/>
      <unit id="org.eclipse.tcf.cdt.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.tcf.core.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.tcf.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.tcf.te.tcf.core.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.tcf.te.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.tcf.te.tcf.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.tcf.te.tcf.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.tcf.te.tcf.launch.cdt.feature.feature.group" version="0.0.0"/>
    </location>
    <location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
      <repository location="http://download.eclipse.org/technology/swtbot/releases/latest/"/>
      <unit id="org.eclipse.swtbot.eclipse.test.junit.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.swtbot.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.swtbot.ide.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.swtbot.eclipse.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.swtbot.eclipse.gef.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.swtbot.junit5.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.swtbot.nebula.nattable.feature.group" version="0.0.0"/>
    </location>
    <location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
      <repository location="https://download.eclipse.org/nattable/releases/2.0.1/repository/"/>
      <unit id="org.eclipse.nebula.widgets.nattable.core.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.nebula.widgets.nattable.core.source.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.nebula.widgets.nattable.extension.nebula.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.nebula.widgets.nattable.extension.nebula.source.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.nebula.widgets.nattable.extension.glazedlists.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.nebula.widgets.nattable.extension.glazedlists.source.feature.feature.group" version="0.0.0"/>
    </location>
    <location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
      <repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20210825222808/repository/"/>
      <unit id="org.apache.commons.math3" version="0.0.0"/>
      <unit id="org.apache.commons.math3.source" version="0.0.0"/>
      <unit id="org.apache.commons.lang" version="0.0.0"/>
      <unit id="org.apache.commons.lang.source" version="0.0.0"/>
      <unit id="org.apache.commons.lang3" version="0.0.0"/>
      <unit id="org.apache.commons.lang3.source" version="0.0.0"/>
      <unit id="org.apache.commons.io" version="0.0.0"/>
      <unit id="org.apache.commons.io.source" version="0.0.0"/>
      <unit id="org.apache.commons.logging" version="0.0.0"/>
      <unit id="org.apache.commons.logging.source" version="0.0.0"/>
      <unit id="org.apache.commons.cli" version="0.0.0"/>
      <unit id="org.apache.commons.cli.source" version="0.0.0"/>
      <unit id="org.mockito" version="0.0.0"/>
      <unit id="org.mockito.source" version="0.0.0"/>
      <unit id="org.hamcrest.core.source" version="0.0.0"/>
      <unit id="org.hamcrest.core" version="0.0.0"/>
      <unit id="org.hamcrest.library.source" version="0.0.0"/>
      <unit id="org.hamcrest.library" version="0.0.0"/>
      <unit id="org.jacoco.agent" version="0.0.0"/>
      <unit id="org.jacoco.agent.source" version="0.0.0"/>
      <unit id="org.jacoco.core" version="0.0.0"/>
      <unit id="org.jacoco.core.source" version="0.0.0"/>
      <unit id="org.jacoco.report" version="0.0.0"/>
      <unit id="org.jacoco.report.source" version="0.0.0"/>
      <unit id="jakarta.activation" version="0.0.0"/>
      <unit id="jakarta.xml.bind" version="0.0.0"/>
      <unit id="javax.xml.stream" version="0.0.0"/>
      <unit id="org.swtchart" version="0.0.0"/>
      <unit id="org.swtchart.source" version="0.0.0"/>
      <unit id="com.google.guava" version="0.0.0"/>
    </location>
    <location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
      <repository location="https://download.eclipse.org/justj/jres/15/updates/release/15.0.2"/>
      <unit id="org.eclipse.justj.openjdk.hotspot.jre.minimal.stripped.feature.group" version="0.0.0"/>
    </location>
  </locations>
  <targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER"/>
</target>
